.sil-ingredient-item {
  width: 100%;
  display: flex;
  overflow: hidden;

  &.editing {
    .sil-ingredient-line {
      padding: 0;
    }
  }

  .multiline-input {
    flex: 1;
  }
}

.sil-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.sil-ingredient-line {
  display: flex;
  gap: var(--spacing);
  padding: calc(var(--spacing) * 0.5);
  position: relative;
  width: fit-content;
  align-items: center;
  flex: 1;

  label {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 1);

    cursor: pointer;

    > input {
      display: none;
    }
  }
}

.sil-checkbox {
  height: 20px;
  width: 20px;
  font-size: 1em;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-interface-base);
  border-radius: calc(var(--spacing) * 0.5);
  box-shadow: 0 0 2px 0 var(--color-interface-active);
}

.sil-checkbox-checked {
  background-color: var(--color-interface-active);
}

.sil-item-text {
  min-width: 6ch;
  white-space: nowrap;
}

.sil-included-in {
  font-size: 0.8em;
  color: var(--color-placeholder);
  // padding-top: calc(var(--spacing) * 0.5);
  padding-left: calc(var(--spacing));

  display: flex;
  gap: 0.5ch;
  overflow: hidden;
  flex: 1;
  justify-content: flex-end;

  @media (max-width: 1000px) {
    max-width: 15ch;
  }

  * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
