.step-item-wrapper {
  display: flex;
}

.step-item {
  display: flex;
  flex: 1;
  gap: calc(var(--spacing) * 2);
  background-color: var(--color-background);
}

.step-number {
  width: 1.5ch;
}

.step-input {
  flex: 1;
}
