.drop-menu-container {
  @media (min-width: 1000px) {
    position: relative;
  }
}

.drop-menu.ra-card {
  width: fit-content;
  padding: 0;
  overflow: hidden;
  z-index: 2;

  transform-origin: top center;

  gap: 0;

  @media (max-width: 999px) {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: var(--spacing);
    animation: center-scale 0.35s;
    transform-origin: center center;
  }

  @media (min-width: 1000px) {
    position: absolute;
    top: calc(100% + var(--spacing) / 2);
    right: 0;
    animation: scale 0.35s;
    transform-origin: top right;
  }
}

.drop-menu-item {
  outline: none;
  border: none;
  background-color: var(--color-background);
  color: inherit;

  display: flex;
  align-items: center;
  padding: calc(var(--spacing) * 2) var(--spacing);
  gap: var(--spacing);

  cursor: pointer;
  user-select: none;

  font-size: 1em;

  @media (min-width: 1000px) {
    padding: var(--spacing);
    font-size: 0.8em;
  }

  i {
    font-size: 1.35em;
  }

  * {
    white-space: nowrap;
  }

  transition: all 0.25s;

  &:hover {
    background-color: var(--color-interface-base);
  }

  &:focus,
  &.selected {
    background-color: var(--color-interface-active);
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }
}
