.home-view {
  height: 100%;
  gap: var(--spacing);
}

.home-card {
  display: flex;
  flex-direction: column;

  background-color: var(--color-input-background);
  border-radius: var(--spacing);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 100%;

  padding: var(--spacing);
}

.home-card-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  gap: var(--spacing);

  .icon-button {
    background-color: var(--color-background);
  }
}
