.login-view {
  padding: 0 !important;

  .app-header {
    padding-top: calc(var(--spacing) * 4);
  }
}

.login-form {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: auto;
  max-width: 30ch;

  gap: var(--spacing);
}
