.login-view {
  padding: 0 !important;

  .ra-app-title {
    max-width: 30ch;
    font-size: 2.5em;
    margin-bottom: calc(var(--spacing) * 5);
  }
}

.login-form {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 30ch;

  gap: calc(var(--spacing) * 2);
}
