.login-view {
  padding: 0 !important;

  .ra-app-title {
    width: 100%;
    text-align: center;
  }
}

.login-form {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: auto;
  max-width: 30ch;

  gap: calc(var(--spacing) * 2);
}
