.recipe-list {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: calc(var(--spacing) * 2) 0;
  margin: 0;
  gap: calc(var(--spacing));
}

.recipe-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  padding: var(--spacing) 0;

  h3 {
    padding: var(--spacing) 0;
  }
}

.name-field {
  outline: none;
  border: none;
  padding: var(--spacing);
  font-weight: 600;
  font-size: 1.5em;
  flex: 1;

  &:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 500px) {
    font-size: 1.25em;
  }
}

.meta-section {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 1.5);

  input {
    width: 100%;
  }
}
