.app-header {
  height: var(--app-header-height);
  width: 100%;
  flex-shrink: 0;

  background-color: var(--color-nav-background);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  color: var(--color-color);

  position: sticky;
  top: 0;
  left: 0px;
  z-index: 1;

  transition: all 0.25s;

  text-shadow: 0 0 5px white;
  @media (prefers-color-scheme: dark) {
    text-shadow: 0 1px 3px #000000;
  }

  &.shadow {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  }

  @media (prefers-color-scheme: dark) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    &.shadow {
      box-shadow: 0 0 5px 2px black;
    }
  }

  @media (min-width: 1000px) {
    height: var(--app-header-height);
    width: 100%;
  }
}

.app-header-content {
  display: flex;
  align-items: center;

  height: 100%;
  padding: 0 calc(var(--spacing) * 1.5) 0 calc(var(--spacing) * 1.5);
  gap: var(--spacing);

  width: 100%;
  max-width: var(--app-view-max-size);
  margin: 0 auto;
}
