.app-header {
  height: var(--app-header-height);
  width: 100%;

  background-color: var(--color-background);
  color: var(--color-color);

  position: fixed;
  top: 0;
  left: 0px;
  z-index: 1;

  transition: all 0.25s;

  &.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--color-nav-background);
  }

  @media (min-width: 1000px) {
    position: initial;
    height: var(--app-header-height);
  }
}

.app-header-content {
  display: flex;
  align-items: center;

  height: 100%;
  padding: 0 calc(var(--spacing) * 2) 0 calc(var(--spacing) * 2);
  gap: var(--spacing);

  @media (min-width: 1000px) {
    width: 700px;
    margin: 0 auto;
  }
}
