.app-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: calc(30px + var(--app-nav-height));
  padding-bottom: 30px;
  width: 100%;

  background-color: var(--color-nav-background);
  color: var(--color-nav-color);
  flex-shrink: 0;
  // box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  border-top: 1px solid var(--color-border);
}

.app-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: calc(var(--spacing) * 0.25);

  color: inherit;
  width: 60px;
  text-decoration: none;

  font-size: 1rem;
  font-weight: 700;
  transition: all 0.25s;

  i {
    font-size: 1.6rem;
  }
}

.app-link.active {
  color: var(--color-nav-active);
  // text-shadow: 0 1px 1px #383838;
}
