.ra-view {
  grid-area: view;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  position: relative;

  flex: 1;

  background-color: var(--color-background);
  color: var(--color-color);
}

.ra-before-container {
  width: 100%;
  max-width: var(--app-view-max-size);
  margin: 0 auto;
}

.ra-view-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  max-width: var(--app-view-max-size);
  margin: 0 auto;

  flex: 1;
  padding: var(--spacing) calc(var(--spacing) * 1.5)
    calc(var(--app-nav-size) + var(--spacing) * 3) calc(var(--spacing) * 1.5);

  background-color: var(--color-background);
  color: var(--color-color);

  @media (min-width: 1000px) {
    padding-bottom: calc(var(--spacing) * 1.5);
  }
}

.top-observer,
.bottom-observer {
  width: 100%;
  height: 1px;
  flex-shrink: 0;
}
