.breadcrumbs {
  display: flex;
  gap: var(--spacing);
  padding: 0 var(--spacing);
  font-size: 0.9em;
}

.breadcrumb-link {
  color: var(--color-nav-active);
  text-decoration: none;
}

span.breadcrumb-link {
  font-weight: 700;
  color: var(--color-color);
}

.breadcrumb-divider {
  &:last-child {
    display: none;
  }
}
