.drop-menu-container {
  position: relative;
}

.drop-menu.ra-card {
  width: fit-content;
  padding: 0;
  overflow: hidden;
  z-index: 2;

  transform-origin: top center;

  gap: 0;

  @media (max-width: 999px) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--spacing);
    animation: center-scale 0.35s;
    transform-origin: center center;
  }

  @media (min-width: 1000px) {
    position: absolute;
    top: calc(100% + var(--spacing) / 2);
    right: 0;
    animation: scale 0.35s;
    transform-origin: top right;
  }
}

.drop-menu-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.4);

  z-index: 1;
  animation: fade 0.35s;
}

.drop-menu-item {
  outline: none;
  border: none;
  background-color: var(--color-background);
  color: inherit;

  display: flex;
  align-items: center;
  padding: var(--spacing);
  gap: var(--spacing);

  cursor: pointer;
  user-select: none;

  font-size: 0.8em;

  i {
    font-size: 1.35em;
  }

  * {
    white-space: nowrap;
  }

  transition: all 0.25s;

  &:hover {
    background-color: var(--color-input-hover);
  }

  &:focus {
    background-color: var(--color-input-focus);
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }
}
