.ra-image-upload {
  width: 100%;
  height: 200px;

  object-fit: cover;
  &.image {
    background-size: cover;
    background-position: center;
  }

  &:not(.image) {
    background: linear-gradient(
      -90deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.1)
    );
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
  }

  @media (prefers-color-scheme: dark) {
    &:not(.image) {
      background: linear-gradient(
        -90deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.05)
      );
      background-size: 400% 400%;
      animation: gradient 5s ease infinite;
    }
  }

  display: flex;
  align-items: center;
  justify-content: center;
}

.ra-image-upload.icon {
  height: 100%;
  object-fit: contain;
  flex: 1;

  &.image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px 80px;
  }
}

label.ra-image-upload {
  cursor: pointer;
  button {
    text-shadow: 0 0 3px white;
    @media (prefers-color-scheme: dark) {
      text-shadow: 0 1px 4px #000000;
    }
  }
}

.ra-image-upload-file-input {
  display: none;
}

.ra-image-upload-shimmer {
  width: 100%;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
