.ingredient-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.ingredient-item-container {
  flex: 1;
  height: fit-content !important;
  max-height: initial !important;
}

.ingredient-item-swipe {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--color-background);
  height: 100%;

  gap: calc(var(--spacing) * 0.57);

  > span:first-child {
    font-size: 1.25em;
    margin-right: calc(var(--spacing) * 0.5);
  }

  .ra-input {
    height: 100%;
  }
}

.value-field {
  max-width: 6ch;
  text-align: right;
}

.unit-field {
  max-width: 9ch;
}

.ingredient-field {
  text-align: left;
  flex: 3;
}
