.ingredient-item {
  display: flex;
  align-items: center;
  width: 100%;

  gap: calc(var(--spacing) * 0.57);

  > span:first-child {
    font-size: 1.25em;
    margin-right: calc(var(--spacing) * 0.5);
  }

  .ra-input {
    height: 100%;
  }
}

.value-field {
  max-width: 5ch;
  text-align: right;
}

.unit-field {
  max-width: 8ch;
}

.ingredient-field {
  flex: 3;
}
