.recipe-item {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 1);

  padding: calc(var(--spacing) * 0.5) var(--spacing);
  border-radius: calc(var(--spacing));

  cursor: pointer;
  user-select: none;

  transition: background-color 0.25s;
  &:hover {
    background-color: var(--color-input-hover);
  }
}

.recipe-item-icon {
  font-size: 1.25em;
  width: 30px;
  text-align: center;
}
