.step-item {
  display: flex;
  align-items: center;
  flex: 1;
  gap: var(--spacing);
  background-color: var(--color-background);
}

.step-number {
  font-size: 0.8em;
  width: 1.5ch;
}

.step-input {
  flex: 1;
}
