.swipe-to-delete-container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  display: flex;
  align-items: center;

  &::-webkit-scrollbar {
    display: none;
  }

  &.mobile {
    .swipe-to-delete-child {
      flex-shrink: 0;
      scroll-snap-align: start;
    }

    .swipe-to-delete-button {
      outline: none;
      border: none;
      font-family: inherit;
      background-color: var(--color-danger);
      color: var(--color-danger-color);

      font-size: 0.75em;
      height: 100%;

      scroll-snap-align: end;
    }
  }

  &:not(.mobile) {
    .swipe-to-delete-child {
      flex: 1;
      flex-shrink: 1;
      width: fit-content;
    }
  }

  .swipe-to-delete-child {
    width: 100%;
  }

  .swipe-to-delete-button {
    margin-left: var(--spacing);
  }
}
