.swipe-to-delete-container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  display: flex;
  align-items: center;

  &::-webkit-scrollbar {
    display: none;
  }
}

.swipe-to-delete-child {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;

  @media (min-width: 1000px) {
    flex: 1;
    flex-shrink: 1;
    width: fit-content;
  }
}

.swipe-to-delete-button {
  margin-left: var(--spacing);

  @media (max-width: 1000px) {
    outline: none;
    border: none;
    font-family: inherit;
    background-color: var(--color-danger);
    color: var(--color-danger-color);

    font-size: 0.75em;
    height: 100%;

    scroll-snap-align: end;
  }
}
