.workspace-picker {
  width: 500px;
  max-width: var(--app-view-max-size);

  @media (max-width: 1000px) {
    width: 90vw;
  }
}

.workspace-picker-options {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
}
