.ra-card {
  display: flex;
  flex-direction: column;

  background-color: var(--color-background);
  border-radius: var(--spacing);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 100%;

  padding: var(--spacing);
  gap: var(--spacing);
}

.ra-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: var(--spacing) 0;
}
