.ra-input {
  outline: none;
  border: none;

  background-color: var(--color-input-background);
  color: var(--color-color);

  min-width: 0;
  font-size: 1em;
  padding: calc(var(--spacing) * 0.5) var(--spacing);

  border-radius: calc(var(--spacing) * 0.5);

  font-family: "Noto Sans", sans-serif;
  font-weight: 400;

  transition: box-shadow 0.25s;

  -webkit-appearance: none;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);

  &:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px var(--color-interface-base);
  }

  &:not(:disabled):focus {
    box-shadow: inset 0 0 0 2px var(--color-interface-active);
  }

  &::placeholder {
    color: var(--color-placeholder);
  }
}

.icon-button,
.icon-button-sm {
  color: inherit;
  outline: none;
  border: none;
  background-color: inherit;

  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: 40px;
  font-size: 2rem;

  @media (min-width: 1000px) {
    font-size: 1.75rem;
  }

  border-radius: calc(var(--spacing) * 0.5);
  padding: 0;

  transition: background-color 0.25s;

  &:hover {
    background-color: var(--color-interface-active);
  }
}

.icon-button-sm {
  width: 20px;
  height: 20px;
}

.chip-button,
.chip-button-naked {
  display: flex;
  align-items: center;

  gap: calc(var(--spacing) * 0.5);
  padding: calc(var(--spacing) * 0.75) calc(var(--spacing) * 1.5);

  background-color: var(--color-interface-base);
  color: var(--color-input-color);
  border-radius: calc(var(--spacing) * 2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 0.25s;

  font-size: 0.8em;

  cursor: pointer;
  user-select: none;

  i {
    font-size: 1.25em;
  }

  &:hover {
    background-color: var(--color-interface-active);
  }
}

.chip-button-naked {
  background-color: inherit;
  color: var(--color-interface-active);

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.drag-handle {
  cursor: pointer;
  user-select: none;
  font-size: 1em;
  color: var(--color-border);
}
