.ra-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  margin: 0;
  padding: 0;
  gap: var(--spacing);
}

.ra-dense-list {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0;
  padding: 0;
}

.ra-option-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  margin: 0;
  padding: 0;
  gap: calc(var(--spacing) * 0.5);

  .ra-option {
    display: flex;
    align-items: center;

    gap: calc(var(--spacing) * 1);
    padding: var(--spacing);
    border-radius: calc(var(--spacing));
    width: 100%;

    cursor: pointer;
    user-select: none;

    outline: none;
    border: none;

    transition: background-color 0.25s;
    &:hover {
      background-color: var(--color-interface-active);
      color: var(--color-input-color);
    }
  }

  .ra-option-icon {
    font-size: 1em;
    width: 30px;
    text-align: center;
  }
}
