body {
  margin: 0;
  font-size: 1.15rem;

  @media (min-width: 1000px) {
    font-size: 1em;
  }

  background-color: var(--color-background);
  color: var(--color-color);
}

html {
  overscroll-behavior: none;
}

body,
#root,
#root > main {
  height: 100vh;

  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
}

#root > main {
  display: flex;
  flex-direction: column;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}

input {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h3 {
  font-weight: 400;
}
