:root {
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: -apple-system, BlinkMacSystemFont, "Raleway", sans-serif;
  --spacing: 8px;

  --app-header-height: 50px;
  --app-nav-size: 90px;

  --color-nav-background: rgba(249, 250, 244, 0.5);
  --color-nav-color: hsl(219, 0%, 69%);
  --color-nav-active: hsl(219, 36%, 54%);

  --color-background: hsl(70, 37%, 97%);
  --color-color: hsl(82, 3%, 20%);

  --color-input-background: hsl(219, 10%, 95%);
  --color-interface-base: hsl(219, 40%, 80%);
  --color-interface-active: hsl(219, 40%, 70%);
  --color-input-color: black;

  --color-border: #3b78e9;
  --color-placeholder: #a7a7a7;

  --color-danger: rgb(235, 40, 86);
  --color-danger-color: white;

  @media (prefers-color-scheme: dark) {
    --color-nav-background: rgba(18, 24, 33, 0.6);
    --color-nav-color: rgb(125, 125, 125);
    --color-nav-active: hsl(220, 30%, 70%);

    --color-background: hsl(214, 31%, 10%);
    --color-color: hsl(165, 3%, 90%);

    --color-input-background: #2a3642;
    --color-interface-base: hsl(220, 30%, 40%);
    --color-interface-active: hsl(220, 30%, 50%);
    --color-input-color: white;

    --color-border: #7889aa;
    --color-placeholder: #a7a7a7;
  }

  @media (min-width: 1000px) {
    --app-nav-size: 250px;
  }
}
