.ra-header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--spacing);
  padding-bottom: calc(var(--spacing) * 2);
}

.ra-actions,
.ra-actions-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: calc(var(--spacing) * 1);
  flex: 1;

  @media (min-width: 1000px) {
    gap: calc(var(--spacing));
  }
}

.ra-actions-left {
  display: flex;
  justify-content: flex-start;
  margin-top: var(--spacing);
  flex: initial;
}

.ra-title {
  font-size: 1.75em;
  font-weight: 300;
  color: var(--color-color);

  font-family: "Roboto Slab", serif;
}

.ra-sub-title {
  font-size: 1.15em;
  font-weight: 300;
  color: var(--color-placeholder);
  font-family: "Roboto Slab", serif;
}

.ra-app-title {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 1.75em;
  color: var(--color-color);
  margin-bottom: var(--spacing);

  @media (prefers-color-scheme: dark) {
    text-shadow: 0 1px 4px #000000;
  }
}

h1.ra-title {
  width: 100%;
  text-align: center;
  font-family: "Kalam", sans-serif;
  font-size: 2.5em;
}

.ra-error-message {
  color: var(--color-danger);
  font-size: 1.5em;
  font-weight: 400;
}
