.ra-button {
  display: flex;
  align-items: center;
  gap: var(--spacing);

  font-size: 0.9em;

  background-color: inherit;
  color: inherit;
  outline: none;
  border: none;
  border-radius: var(--radius);
  padding: calc(var(--spacing) * 0.75) calc(var(--spacing) * 1.5);

  flex-shrink: 0;

  cursor: pointer;
  user-select: none;

  transition: background-color 0.25s;

  &:not(:disabled):hover {
    background-color: var(--color-interface-active);
  }
}

.ra-button-filled {
  background-color: var(--color-interface-base);
  color: var(--color-interface-color);
}

.ra-button-chip {
  background-color: var(--color-interface-base);
  color: var(--color-interface-color);
  border-radius: calc(var(--radius) * 4);
}

.ra-button-icon {
  font-size: 1.5em;
  justify-content: center;
  padding: calc(var(--spacing) * 0.5);

  > .material-symbols-rounded {
    font-size: inherit;
  }
}

//---//

.ra-button-size-lg {
  font-size: 1.15em;
  padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1);

  &.ra-button-chip {
    padding: calc(var(--spacing) * 0.75) calc(var(--spacing) * 2);
  }

  &.ra-button-icon {
    font-size: 1.75em;
    padding: calc(var(--spacing) * 0.75);
  }

  > .material-symbols-rounded {
    font-size: 1.25em;
  }
}

.ra-button-size-sm {
  font-size: 0.8em;
  padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1);

  &.ra-button-icon {
    font-size: 1em;
    padding: calc(var(--spacing) * 0.5);
    width: 25px;
    height: 25px;
  }
}

.ra-button-size-xm {
  font-size: 0.8em;
  // padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1);

  &.ra-button-icon {
    font-size: 1.2em;
    // padding: calc(var(--spacing) * 0.5);
    // width: 25px;
    // height: 25px;
  }
}

//---//

.ra-button-icon-before,
.ra-button-icon-after {
  font-size: 1.25em;
}

//---//

.ra-button-no-padding {
  padding: 0 !important;
}
