.step-item-wrapper {
  width: 100%;
}

.step-item {
  display: flex;
  flex: 1;
  gap: var(--spacing);
  background-color: var(--color-background);

  &.step-item-editing {
    align-items: center;
  }
}

.step-number {
  width: 2ch;
  flex-shrink: 0;
}

.step-input {
  flex: 1;
}
