.content-editable-naked {
  outline: none;
  border: none;

  min-width: 3ch;
  transition: box-shadow 0.25s;

  &:not(.disabled):hover {
    box-shadow: 0 3px 0 var(--color-interface-base);
  }

  &:not(.disabled):focus {
    box-shadow: 0 3px 0 var(--color-interface-active);
  }
}

.content-editable.noborder {
  box-shadow: none !important;
}

.content-editable {
  &:empty::before {
    content: attr(placeholder);
    color: var(--color-placeholder);
  }
}
