.ingredient-item-wrapper {
  width: 100%;
}

.ingredient-item {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 1.5);

  .multiline-input {
    flex: 1;
  }

  &.subheading {
    gap: calc(var(--spacing) * 0.5);

    .multiline-input,
    .multiline-input-area,
    > span {
      font-weight: 500;
      font-style: italic;
    }
  }

  &:not(:first-child).subheading {
    margin-top: calc(var(--spacing) * 2);
  }
}
