.ingredient-list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 1);
}

.ingredient-list.editing {
  gap: calc(var(--spacing) * 0.5);
}

.ingredient-item {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 1);

  .subheading {
    font-weight: 500;
    font-style: italic;
  }

  &:not(:first-child) .subheading {
    margin-top: calc(var(--spacing) * 2);
  }
}

.value-field {
  text-align: right;
  width: 10ch;

  &.subheading {
    width: 100%;
    text-align: left;
  }
}

.ingredient-field {
  width: 100%;
  text-align: left;
}
