.ingredient-item-wrapper {
  width: 100%;
}

.ingredient-item {
  display: flex;
  gap: calc(var(--spacing) * 1.5);
  transition: all 0.2s;

  .multiline-input {
    flex: 1;
  }

  &.subheading {
    gap: calc(var(--spacing) * 0.5);

    .multiline-input,
    .multiline-input-area,
    > span {
      font-weight: 500;
      font-style: italic;
    }
  }

  &:not(:first-child).subheading {
    margin-top: calc(var(--spacing) * 2);
  }

  label {
    display: flex;
    padding: calc(var(--spacing) * 0.5) 0;
    // align-items: center;
    gap: calc(var(--spacing) * 1);

    cursor: pointer;

    > input {
      display: none;
    }
  }

  .drag-handle {
    margin-top: calc(var(--spacing) * 1.5);
  }
}

.ingredient-checkbox {
  height: 20px;
  width: 20px;
  font-size: 1em;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(var(--spacing) * 0.5);
  margin-right: calc(var(--spacing) * 1);

  background-color: var(--color-interface-base);
  border-radius: calc(var(--spacing) * 0.5);
  box-shadow: 0 0 2px 0 var(--color-interface-active);
}

.ingredient-checkbox-checked {
  opacity: 0.2;
  @media (prefers-color-scheme: dark) {
    opacity: 0.4;
  }

  .ingredient-checkbox {
    background-color: var(--color-interface-active);
  }
}

.ingredient-item-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ingredient-included-in {
  font-size: 0.7em;
  color: var(--color-placeholder);

  display: flex;
  gap: 0.5ch;
  flex: 1;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
