:root {
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: -apple-system, BlinkMacSystemFont, "Raleway", sans-serif;
  --spacing: 8px;

  --app-header-height: 50px;
  --app-nav-height: 60px;

  --color-nav-background: #f9fbf2;
  --color-nav-color: rgb(176, 176, 176);
  --color-nav-active: #214383;

  --color-background: #f9fbf2;
  --color-color: hsl(82, 3%, 20%);

  --color-input-background: #ebfcff;
  --color-input-hover: #a9c3dc;
  --color-input-focus: #90a8d3;
  --color-input-color: black;

  --color-border: #3b78e9;
  --color-placeholder: #a7a7a7;

  --color-danger: rgb(235, 40, 86);
  --color-danger-color: white;

  @media (prefers-color-scheme: dark) {
    --color-nav-background: hsl(214, 31%, 10%);
    --color-nav-color: rgb(125, 125, 125);
    --color-nav-active: #3974e1;

    --color-background: var(--color-nav-background);
    --color-color: hsl(165, 3%, 90%);

    --color-input-background: #244856;
    --color-input-hover: #4d5970;
    --color-input-focus: #7889aa;
    --color-input-color: white;

    --color-border: #27519e;
    --color-placeholder: #a7a7a7;
  }
}

body {
  margin: 0;
  font-size: 1.2rem;

  background-color: var(--color-background);
  color: var(--color-color);
}

html {
  overscroll-behavior: none;
}

body,
#root,
#root > main {
  height: 100vh;

  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
}

#root > main {
  display: flex;
  flex-direction: column;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}

input {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.ra-view {
  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  overscroll-behavior: none;

  flex: 1;
  margin-top: var(--app-header-height);

  background-color: var(--color-background);
  color: var(--color-color);

  @media (min-width: 1000px) {
    margin-top: 0;
  }
}

.ra-view-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;

  width: 100vw;
  height: 100%;
  flex: 1;
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 1.5)
    calc(var(--spacing) * 3) calc(var(--spacing) * 1.5);

  background-color: var(--color-background);
  color: var(--color-color);

  @media (min-width: 1000px) {
    width: 700px;
    margin: 0 auto;
    padding-top: calc(var(--spacing) * 2);
  }
}

.ra-input {
  outline: none;
  border: none;

  background-color: var(--color-input-background);
  color: var(--color-color);

  min-width: 0;
  font-size: 0.8em;
  padding: calc(var(--spacing) * 0.5) var(--spacing);

  border-radius: calc(var(--spacing) * 0.5);

  @media (min-width: 1000px) {
    font-size: 0.7em;
  }

  font-family: "Noto Sans", sans-serif;
  font-weight: 400;

  transition: box-shadow 0.25s;

  -webkit-appearance: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);

  &:not(:disabled):hover {
    box-shadow: 0 0 0 1px var(--color-input-hover);
  }

  &:not(:disabled):focus {
    box-shadow: 0 0 0 2px var(--color-input-focus);
  }

  &::placeholder {
    color: var(--color-placeholder);
  }
}

.ra-card {
  display: flex;
  flex-direction: column;

  background-color: var(--color-input-background);
  border-radius: var(--spacing);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 100%;

  padding: var(--spacing);
  gap: var(--spacing);
}

.ra-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: calc(var(--spacing) * 3) 0 calc(var(--spacing) * 2) 0;
}

.ra-actions {
  display: flex;
  justify-content: flex-end;
  gap: calc(var(--spacing) * 3);
  flex: 1;

  @media (min-width: 1000px) {
    gap: calc(var(--spacing));
  }
}

.ra-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: calc(var(--spacing) * 2);
}

.ra-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.ra-dialog-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.ra-list {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0;
  padding: 0;
  gap: var(--spacing);
}

.ra-dense-list {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0;
  padding: 0;
}

.ra-error-message {
  position: fixed;
  top: 100px;
  width: 100%;
  text-align: center;

  color: var(--color-danger);
  font-size: 1.5em;
  font-weight: 400;
}

.icon-button {
  color: inherit;
  outline: none;
  border: none;
  background-color: inherit;

  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 30px;
  width: 30px;

  border-radius: calc(var(--spacing) * 0.5);
  padding: 0;

  transition: background-color 0.25s;

  &:hover {
    background-color: var(--color-input-hover);
  }

  @media (max-width: 500px) {
    font-size: 1.5em;
  }
}

.chip-button {
  display: flex;
  align-items: center;

  gap: calc(var(--spacing) * 0.5);
  padding: calc(var(--spacing) * 0.75) calc(var(--spacing) * 1.5);

  background-color: var(--color-input-hover);
  color: var(--color-input-color);
  border-radius: calc(var(--spacing) * 2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 0.25s;

  cursor: pointer;
  user-select: none;

  i {
    font-size: 1.25em;
  }

  &:hover {
    background-color: var(--color-input-focus);
  }

  @media (max-width: 500px) {
    align-self: center;
    margin: 0;
    font-size: 0.8em;
  }
}

.drag-handle {
  cursor: pointer;
  user-select: none;
  font-size: 1em;
  color: var(--color-border);
}

.ra-row {
  display: flex;
  gap: var(--spacing);
}
