:root {
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: -apple-system, BlinkMacSystemFont, "Raleway", sans-serif;
  --spacing: 8px;

  --app-header-height: 50px;
  --app-nav-size: 90px;

  --color-nav-background: hsl(73, 53%, 90%);
  --color-nav-color: rgb(176, 176, 176);
  --color-nav-active: hsl(199, 49%, 45%);

  --color-background: #f9fbf2;
  --color-color: hsl(82, 3%, 20%);

  --color-input-background: #ebfcff;
  --color-input-hover: #a9c3dc;
  --color-input-focus: hsl(219, 43%, 70%);
  --color-input-color: black;

  --color-border: #3b78e9;
  --color-placeholder: #a7a7a7;

  --color-danger: rgb(235, 40, 86);
  --color-danger-color: white;

  @media (prefers-color-scheme: dark) {
    --color-nav-background: hsl(214, 31%, 20%);
    --color-nav-color: rgb(125, 125, 125);
    --color-nav-active: #9bb2e0;

    --color-background: hsl(214, 31%, 10%);
    --color-color: hsl(165, 3%, 90%);

    --color-input-background: #244856;
    --color-input-hover: #4d5970;
    --color-input-focus: #7889aa;
    --color-input-color: black;

    --color-border: #7889aa;
    --color-placeholder: #a7a7a7;
  }

  @media (min-width: 1000px) {
    --app-nav-size: 250px;
  }
}

body {
  margin: 0;
  font-size: 1.25rem;

  background-color: var(--color-background);
  color: var(--color-color);
}

html {
  overscroll-behavior: none;
}

body,
#root,
#root > main {
  height: 100vh;

  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
}

#root > main {
  display: flex;
  flex-direction: column;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}

input {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.ra-input {
  outline: none;
  border: none;

  background-color: var(--color-input-background);
  color: var(--color-color);

  min-width: 0;
  font-size: 0.8em;
  padding: calc(var(--spacing) * 0.5) var(--spacing);

  border-radius: calc(var(--spacing) * 0.5);

  @media (min-width: 1000px) {
    font-size: 0.7em;
  }

  font-family: "Noto Sans", sans-serif;
  font-weight: 400;

  transition: box-shadow 0.25s;

  -webkit-appearance: none;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);

  &:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px var(--color-input-hover);
  }

  &:not(:disabled):focus {
    box-shadow: inset 0 0 0 2px var(--color-input-focus);
  }

  &::placeholder {
    color: var(--color-placeholder);
  }
}

.ra-card {
  display: flex;
  flex-direction: column;

  background-color: var(--color-background);
  border-radius: var(--spacing);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 100%;

  padding: var(--spacing);
  gap: var(--spacing);
}

.ra-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: calc(var(--spacing) * 3) 0 calc(var(--spacing) * 2) 0;
}

.ra-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: var(--spacing) 0;
}

.ra-actions {
  display: flex;
  justify-content: flex-end;
  gap: calc(var(--spacing) * 1);
  flex: 1;

  @media (min-width: 1000px) {
    gap: calc(var(--spacing));
  }
}

.ra-title {
  font-size: 2rem;
  margin-bottom: calc(var(--spacing) * 2);
  color: var(--color-color);
}

h1.ra-title {
  width: 100%;
  text-align: center;
  font-family: "Kalam", sans-serif;
  font-size: 2.5rem;
}

.ra-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 90%;

  animation: center-scale 0.35s;
  transform-origin: center center;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8) !important;

  .ra-input {
    padding: calc(var(--spacing));
  }

  > .ra-actions {
    flex: initial;
    width: 100%;
  }
}

.ra-dialog-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  animation: fade 0.35s;

  @media (prefers-color-scheme: dark) {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes center-scale {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ra-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  margin: 0;
  padding: 0;
  gap: var(--spacing);
}

.ra-dense-list {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0;
  padding: 0;
  gap: calc(var(--spacing) * 0.75);
}

.ra-error-message {
  position: fixed;
  top: 100px;
  width: 100%;
  text-align: center;

  color: var(--color-danger);
  font-size: 1.5em;
  font-weight: 400;
}

.icon-button,
.icon-button-sm {
  color: inherit;
  outline: none;
  border: none;
  background-color: inherit;

  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 30px;
  width: 30px;

  border-radius: calc(var(--spacing) * 0.5);
  padding: 0;

  transition: background-color 0.25s;

  &:hover {
    background-color: var(--color-input-hover);
  }
  font-size: 1.25em;

  @media (max-width: 500px) {
    font-size: 1.5em;
  }
}

.icon-button-sm {
  width: 20px;
  height: 20px;
}

.chip-button,
.chip-button-naked {
  display: flex;
  align-items: center;

  gap: calc(var(--spacing) * 0.5);
  padding: calc(var(--spacing) * 0.75) calc(var(--spacing) * 1.5);

  background-color: var(--color-input-focus);
  color: var(--color-input-color);
  border-radius: calc(var(--spacing) * 2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 0.25s;

  cursor: pointer;
  user-select: none;

  i {
    font-size: 1.25em;
  }

  &:hover {
    background-color: var(--color-input-hover);
  }

  @media (max-width: 500px) {
    align-self: center;
    margin: 0;
    font-size: 0.8em;
  }
}

.chip-button-naked {
  background-color: inherit;
  color: var(--color-input-focus);

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.drag-handle {
  cursor: pointer;
  user-select: none;
  font-size: 1em;
  color: var(--color-border);
}

.ra-row {
  display: flex;
  gap: var(--spacing);
}
