.edit-ingredient-dialog {
  height: 60%;
}

.edit-ingredient-dialog-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: var(--spacing) 0;
  flex: 1;

  overflow-y: auto;
  overflow-x: hidden;

  > * {
    flex-shrink: 0;
  }
}
