.edit-ingredient-dialog {
  height: 60%;

  .ra-option {
    // background-color: var(--color-interface-active);
    // color: var(--color-input-color);
  }
}

.edit-ingredient-dialog-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: var(--spacing) 0;
  flex: 1;

  overflow-y: auto;
  overflow-x: hidden;

  > * {
    flex-shrink: 0;
  }
}
