.edit-ingredient-dialog {
  height: 60%;

  .ra-option {
    background-color: var(--color-input-focus);
    color: var(--color-input-color);
    height: fit-content;
    outline: none;
    border: none;
    padding: var(--spacing);
    width: 100%;
    text-align: left;
    font-size: 1rem;
    transition: background-color 0.25s;

    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: var(--color-input-hover);
    }
  }
}

.edit-ingredient-dialog-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: var(--spacing) 0;
  flex: 1;

  overflow-y: auto;
  overflow-x: hidden;

  > * {
    flex-shrink: 0;
  }
}
