.emoji-picker {
  width: 100%;
  height: 100%;
  --num-columns: 6;
  --border-size: 0px;
  --background: var(--color-background);
}

.icon-picker-button {
  font-size: 2em;

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}

.icon-picker {
  height: 65vh;
  justify-content: space-between;

  .icon-picker-contents {
    overflow: auto;
    flex: 1;
  }

  .ra-button > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ra-actions {
    position: relative;
  }

  .ra-actions.center-actions {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .ra-button-icon {
      color: var(--color-nav-color);
      &.active {
        color: var(--color-nav-active);
      }
    }
  }
}
