.recipe-selector-dialog {
  max-height: 60vh;
  width: 400px !important;

  @media (max-width: 500px) {
    max-height: 80vh;
    width: 95vw !important;
  }

  .ra-header {
    padding: var(--spacing);
  }

  .ra-list {
    overflow: auto;
  }
}
